page-user-scanner {
  ion-header + ion-content > div.scroll-content {
    padding-top: 50px !important;
  }

  .btn-green {
    text-align: center;

    border-radius: 2px;
  }

  .btn-orange {
    margin-top: 15px;

    border-radius: 2px;
  }
}
