page-category-menu {
  .content-category-menu {
    background-color: #fff;

    .btn-nav.to-right {
      -webkit-filter: brightness(100);
      -moz-filter: brightness(100);
      -ms-filter: brightness(100);
      -o-filter: brightness(100);
      filter: brightness(100);
    }

    .menu-list {
      margin-top: 15px;

      .categories-list {
        list-style: none;

        li {
          & ~ li {
            margin-top: 0;
          }

          a {
            padding: 0 10px;
          }

          img {
            display: inline;
          }
        }
      }

      .categories-list {
        padding-top: 27px;
        margin-bottom: 0;

        li {
          opacity: 0.7;

          & ~ li {
            margin-top: 9.2px;
          }

          img {
            margin-right: 12px;
            width: 43px;
            vertical-align: top;

            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
          }

          a {
            font-family: "Raleway Medium";
            font-size: 14px;
            line-height: 3;
            color: #444;
          }

          img:hover {
            -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
          }

          a:hover {
            color: #a4c73a;
            text-decoration: none;
          }

          &.active {
            opacity: 1;

            img {
              -webkit-filter: grayscale(0%);
              filter: grayscale(0%);
            }

            a {
              color: #a4c73a;
            }
          }
        }
      }
    }

    .divider {
      width: 100%;

      background-color: #fff;
    }
  }
}
