<ion-header>
  <ion-navbar>
    <img class="header-logo" src="assets/images/logo-min.png" alt="">
    <div class="holder-menu" (click)="showMenu()">Menu</div>
    <a class="inbox"><img src="assets/images/icon-mail.png" alt="" /><span class="count-msg">1</span></a>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="title-holder">
    <p class="title">
      Loyalty Cards
    </p>
  </div>

  <div class="business-cards-holder">
    <div class="business-cards" *ngFor="let loyalty of loyalties; let i = index;" tappable (click)="showCardDeals()"> <!-- *ngFor -->
      <div class="img-holder">
        <img [src]="loyalty.files[0].url" alt="">
      </div>
      <div class="text-holder">
        <h3 class="card-title-text">{{loyalty.company_name}}</h3>
        <span class="card-location-text">{{loyalty.country}}</span>
        <span class="card-count-text">10 loyalty cards</span>
      </div>
    </div>
  </div>

</ion-content>
