page-user-loyalty-cards {
  .scroll-content {
    background: #fff !important;

    .title {
      color: #555;
      font-size: 25px;
      text-align: left;
    }

    .business-cards-holder {
      .business-cards {
        display: flex;
        border-bottom: 1px solid #e4e4e4;

        .img-holder {
          margin: 0 15px 15px 0;
          width: 80px;
          height: 80px;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .text-holder {
          color: #555;
          .card-title-text {
            margin-top: 5px;
            font-size: 18px;
          }

          .card-location-text { font-weight: 100; }

          .card-count-text {
            display: block;
            margin: 5px auto;
            color: #f5a14e;
          }

        }

      }

    }

  }
}
