page-signup-mobile {
  .divider + .description {
    margin: 0 auto 15px;
    width: 545px;
    max-width: 100%;

    text-align: left;
  }

  .form2,
  .form3 {
    display: none;
  }

  form {
    padding-top: 6px;
    margin-top: 15px;

    .holder-country-code {
      position: relative;
      z-index: 99999;

      display: table;
      width: 18%;
      height: 51px;
      overflow: hidden;

      text-align: center;

      &.showDropdown {
        overflow: visible;

        .country-code .fa {
          -webkit-transform: rotate(180deg);
          -moz-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          -o-transform: rotate(180deg);
          transform: rotate(180deg);
        }
      }

      .country-code {
        display: table-cell;
        vertical-align: middle;

        background-color: #d7d7d7;
        border: 1px solid #d7d7d7;
        border-radius: 3px 0 0 3px;

        cursor: pointer;

        .fa {
          margin-left: 5px;
        }
      }

      .country-dropdown {
        position: absolute;
        top: 100%;
        left: 0;

        padding: 0;
        margin: 0;
        width: 125px;
        list-style: none;

        text-align: left;

        background-color: #fff;
        border: 1px solid #d7d7d7;

        li {
          padding: 10px;

          font-size: 15px;
          color: #484747;

          cursor: pointer;

          img {
            margin-right: 5px;
          }

          .country-area-code {
            color: #999;
          }

          &:hover,
          &:focus,
          &:active {
            background-color: #c7e2f1;
          }
        }
      }

      & + input[name="number"] {
        position: absolute;
        top: 0;
        right: 0;

        width: 82.5%;

        &.has-error {
          border-radius: 0;
        }
      }
    }
  }

  .description {
    margin: 20px auto 0;

    a {
      color: #f68f1f;
      text-decoration: none;
    }
  }
}
