page-page-user-loyalty-card-deals {
  .header {
    .back-btn-holder {
      margin: 30px 15px;
      color: #555;
      p {
        display: inline-block;
        margin: 0 0 0 10px;
        vertical-align: super;
        font-size: 16px;
      }
      ion-icon {
        font-size: 2em;
      }
    }
  }
  .scroll-content {
    background: #fff !important;

    .card-deals-holder {
      margin-top: -20px;
      .card-deal {
        display: flex;
        margin-top: 15px;
        border-bottom: 1px solid #e4e4e4;

        .img-holder {
          margin: 0 15px 15px 0;
          width: 80px;
          height: 80px;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .text-holder {
          color: #555;
          .deal-title-text {
            margin-top: 5px;
            font-size: 16px;
          }

          .card-stamp-text { color: #f5a14e; }

          .card-expiration-text {
            display: block;
            margin: 5px auto;
          }

        }

      }

    }

  }
}
