elastic-textarea {
  .text-input {
    margin: 6px 10px !important;
    padding: 0;
    width: calc(100% - 80px) !important;
  }

  ion-textarea {
    border: 1px solid #eceaea;
    background-color: white;
    font-style: italic;
    font-size: 13px;
    padding-top: 3px;
    margin-top: 4px;
    color: grey;
  }

}
