<!-- <ion-header>
  <ion-navbar>
    <img class="header-logo" src="assets/images/logo.png" alt="">
    <div class="profile">
      <img class="profile-img" src="assets/images/img-profile.png" alt="">
      <span class="fa fa-angle-down"></span>
    </div>
    <span class="inbox fa fa-envelope-o"><span class="count-msg">1</span></span>
  </ion-navbar>

  <ion-list>
    <button ion-item *ngFor="let p of pages" (click)="openPage(p)">
      <span class="label-{{p.title}}">{{p.title}}</span>
    </button>
  </ion-list>
</ion-header> -->

<ion-content padding>
  <p class="title" (click)="goScanner()">
    <img class="btn-nav" src="assets/icon/icon-back.png" alt="" />
    Back to Scanner
  </p>

  <div class="holder-list" *ngIf="hasData">
    <div class="holder-deal" *ngFor="let deals of dealsList">
      <div class="deal-info">
        <p class="deal-title">
          {{deals.template}}
        </p>
        <p class="deal-stamp">
          1 stamp
        </p>
        <p class="deal-expire">
          Expires {{dateFormat(deals.end_date)}}
        </p>
      </div>
      <button class="btn btn-green">Redeem</button>
    </div>
  </div>
</ion-content>
