page-menu {
  .content-ios {
    background-color: #424242;

    .btn-nav.to-right {
      -webkit-filter: brightness(100);
      -moz-filter: brightness(100);
      -ms-filter: brightness(100);
      -o-filter: brightness(100);
      filter: brightness(100);
    }

    .menu-list {
      margin-top: 15px;

      .item {
        padding: 5px 0;
        width: 100% !important;

        text-align: left !important;

        background-color: transparent;

        .item-inner .label span {
          font-family: 'Raleway Medium';
          font-size: 24px;
          letter-spacing: .5px;
          color: #fff;
          text-transform: capitalize;
        }
      }
    }

    .divider {
      width: 100%;


      background-color: #fff;
    }

    .logout {
      display: block;
      padding: 15px 0;

      font-family: 'Raleway Medium';
      font-size: 24px;
      letter-spacing: .5px;
      color: #fff;
      text-decoration: none;
    }
  }
}
