<ion-header>
  <ion-navbar>
    <img class="header-logo" src="assets/images/logo-min.png" alt="">
    <div class="holder-menu" (click)="showMenu()">Menu</div>
    <a class="inbox"><img src="assets/images/icon-mail.png" alt="" /><span class="count-msg">1</span></a>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div class="jumbotron search-banner">
    <form class="form-inline form-search-deals text-center">
      <input type="text" class="form-control" placeholder="Search GoPage Deals">
      <label>
        <span class="fa fa-map-marker"></span>
        <input type="text" class="form-control" placeholder="Los Angeles, CA">
      </label>
      <button class="fa fa-search btn-search-deals" type="submit"></button>
    </form>
  </div>

  <nav id="filter-sort-map" class="navbar navbar-light">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link filter-categories" href="javascript:void(0)"><i class="fa fa-filter"></i> Categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link filter-sort" href="javascript:void(0)"><i class="fa fa-sort"></i> Sort</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href=""><i class="fa fa-map-marker"></i> Map view</a>
      </li>
    </ul>
  </nav>

  <div class="categories-header">
    <div class="row">
      <div class="col">
        <p class="deals-counter">
          <span class="deals-found">72</span> out of <span class="deals-total">262</span> deals
        </p>
        <ion-item>
          <ion-label> Show Image</ion-label>
          <ion-toggle [(ngModel)]="toggleImage"></ion-toggle>
        </ion-item>
      </div>
    </div>
  </div>

  <!-- <div *ngIf="hasData">
    <div *ngFor="let deal of deals">
      <p>{{deal.business_name}}</p>
    </div>
  </div> (click)=this.business({{deal.business[0]._id }})"" href=""-->

  <div class="categories-main">
    <div class="row">
      <div class="col-12 col-sm-9 holder-categories-result1">
        <div class="row">
          <div class="col categories-result" *ngIf="hasData">
            <div class="deal media {{toggleImage ? 'toggled' : ''}}" *ngFor="let deal of deals">
              <div class="col-xs-8">
                <a class="deal-thumbnail" href="" *ngIf="toggleImage">
                  <img class="d-flex mr-3" src="{{deal.photo.url !== unknown ? deal.photo.url : 'assets/images/placeholder.jpg'}}" alt="{{deal.template}}">
                </a>
                <div class="media-body align-self-center">
                  <a class="deal-title" href="">
                    <h6 class="mt-0">{{deal.template}}</h6>
                  </a>
                  <a class="business-link" href="">{{deal.business_name}}</a>
                  <p class="business-address">{{deal.business_id[0].country}}, {{deal.business_id[0].state}}</p>
                  <p class="expiration-date"><i class="fa fa-clock-o fa-lg"></i> Expires {{deal.end_date | date: 'MM/dd/yyyy'}}</p>
                </div>
              </div>

              <div class="col-xs-4">
                <div class="deals-button">
                  <a class="btn btn-claim" data-toggle="modal" data-target="#signupModal" data-dismiss="modal">Add to Favorites <i class="fa fa-chevron-right"></i></a> <br class="btn-break">
                  <a class="btn btn-more" >More deals <i class="fa fa-chevron-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- <div class="row">
    <div class="col-12">
      <nav class="holder-pagination">
        <ul class="pagination list-unstyled">
          <li class="page-item prev-page">
            <a class="page-link prev-page" href="#"><i class="fa fa-angle-left"></i> <span class="prev">Prev</span></a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link active" href="#">4</a></li>
          <li class="page-item">
            <a class="page-link next-page" href="#"><span class="next">Next</span> <i class="fa fa-angle-right"></i></a>
          </li>
        </ul>
      </nav>
    </div>
  </div> -->

</ion-content>
