page-user-find-deals {

.content {
  .scroll-content {
    padding-top: 0 !important;

    background-color: #fff !important;
  }

  .search-banner {
    padding: 33px 15px;
    margin: 0 -15px;

    background-color: #d3d3d3;
    border-radius: 0;

    .form-search-deals {
      justify-content: center;

      label {
        width: 257px;
        margin: 0;
        display: inline-block;
      }

      input {
        padding: 11px 15px 11px;

        font-family: "Raleway Regular";
        font-size: 16px;
        letter-spacing: .3px;

        background-color: #fff;
        border: none;
        border-radius: 0;

        &:first-child {
          margin: 0 0 15px;
        }

        & ~ label {
          position: relative;

          margin-left: 0;

          .fa {
            position: absolute;
            top: 9px;
            left: 17px;

            font-size: 24px;
            color: #a4c73a;
          }

          input {
            padding-left: 40px;
            width: 100%;
          }
        }
      }

      ::-webkit-input-placeholder {
        color: #d3d3d3;
      }

      ::-moz-placeholder {
        color: #d3d3d3;
      }

      :-ms-input-placeholder {
        color: #d3d3d3;
      }

      :-moz-placeholder {
        color: #d3d3d3;
      }

      .btn-search-deals {
        padding: 11px 15px 11px;
        margin-top: 0;
        margin-left: 14px;
        vertical-align: top;

        font-size: 20px;
        color: #fff;

        background-color: #a4c73a;
        border: none;

        cursor: pointer;
      }
    }
  }

  #filter-sort-map {
    margin-left: -15px;
    margin-right: -15px;

    .nav {
      background-color: #fff;
    }

    .nav-tabs {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-around;
      justify-content: space-around;
      padding: 10px 0;
      margin-top: 0;
      width: 100%;

      text-align: center;

      border: none;

      .nav-item {
        display: inline;
        margin: 0 auto;

        .nav-link {
          display: inline-block;

          font-size: 15px;
          color: #a4c73a;
          text-decoration: none;

          border: none;
          border-radius: 0;

          cursor: pointer;

          i {
            display: inline;
          }
        }
      }
    }
  }

  .categories-header {
    padding: 0;

    .deals-counter {
      margin: 0;
      padding: 0 5px;

      font-size: 18px;
      color: #444;
      line-height: 2;
    }

    .show-deals-image {
      margin-top: 0;
      margin-left: 5px;
    }

    .toggle-ios-primary.toggle-checked .toggle-icon,
    .toggle-ios.toggle-checked .toggle-icon {
      background-color: #a4c73a;
    }

    .item {
      position: absolute;
      top: 0;
      left: 170px;

      .item-inner {
        border-bottom: 0;

        .input-wrapper {
          flex: none;

          .label,
          .label-ios {
            margin: 0;

            font-size: 13px;
            color: #939393;
          }
        }
      }
    }

    .holder-toggle {
      .show-image-label {
        position: absolute;
        top: -25px;
        right: 67px;
        font-size: 13px;

        @media screen and (max-width: 360px) {
          display: none;
        }
      }

      .btn-toggle {
        position: absolute;
        top: -15px;
        right: -20px;
      }
    }
  }

  .categories-main {
    .holder-categories-result1 {
      padding: 0 0 30px;

      .row ~ .row {
        margin-top: 15px;
      }

      .categories-result {
        padding-bottom: 15px;

        .deal {
          display: flex;
          align-items: flex-start;

          padding: 15px 0;

          border-bottom: 1px solid #d3d3d3;

          &.toggled {
            display: block;

            .deal-thumbnail {
              img {
                margin-right: 10px;
              }
            }

            .media-body {
              display: block;
              flex: 1;
              margin-top: 0;
            }

            .col-xs-8 {
              display: flex;
            }

            .col-xs-4 {
              display: inline;
              width: 100%;
            }

            .deals-button {
              display: -webkit-inline-box;

              .btn-claim {
                margin-right: 10px;
              }
            }
          }

          .col-xs-8 {
            padding-left: 0;
            padding-right: 5px;
          }

          .col-xs-4 {
            padding-right: 0;
            text-align: -webkit-right;
          }

          .deal-thumbnail {
            img {
              width: 100px;
              height: 100px;
              object-fit: cover;
            }
          }

          .media-body {
            margin-top: 2vh;

            .deal-title {
              text-decoration: none;

              .mt-0 {
                margin-bottom: 5px;

                font-family: "Raleway SemiBold";
                font-size: 15px;
                color: #444;
              }
            }

            .business-link {
              font-family: "Raleway Regular";
              font-size: 14px;
              color: #f79122;
              line-height: 1.5;
              text-decoration: none;
            }

            .business-address {
              margin: 0;

              font-family: "Raleway Regular";
              font-size: 14px;
              color: #464646;
            }

            .expiration-date {
              margin: 0;
              padding-top: 5px;

              font-family: "Raleway Regular";
              font-size: 14px;
              color: #606060;

              pointer-events: none;

              i {
                margin-right: 4px;
              }
            }
          }

          .deals-button {
            margin-top: 2.5vh;
            width: 150px;

            .btn {
              margin: 5px 0;
              width: inherit;

              font-family: "Raleway Regular";
              font-size: 13px;
              text-align: left;
              text-decoration: none;
              color: #fff;

              border-radius: 6px;

              cursor: pointer;

              i {
                position: absolute;
                left: 130px;
                font-size: 12px;
                top: 18px;
              }

              &.btn-claim {
                background-color: #a4c73a;

                &.disabled {
                  color: #807f7f;
                  background-color: #e1e1e1;
                  opacity: 1;
                }
              }

              &.btn-more {
                background-color: #f79122;
              }
            }
          }
        }
      }
    }
  }

  .holder-pagination {
    padding: 0 10px;

    .pagination {
      justify-content: space-around;

      & > * {
        float: left;
        list-style: none;
      }

      .page-item {
        .page-link {
          margin-right: 2px;
          margin-left: 2px;
          padding: 0.5rem .8rem;

          text-decoration: none;
          color: #a4c73a;

          background-color: #fff;
          border: 2px solid transparent;
          border-radius: 2px;

          &.active,
          &:hover {
            border-color: #a4c73a;
          }

          &.prev-page,
          &.next-page {
            color: #fff;
            text-align: center;

            background-color: #a4c73a;
            border-color: #a4c73a;
            border-radius: 0;
          }
        }
      }
    }
  }
}
}
