<ion-header>
  <ion-navbar>
    <img class="header-logo" src="assets/images/logo-min.png" alt="">
    <div class="holder-menu" (click)="showMenu()">Menu</div>
    <a class="inbox"><img src="assets/images/icon-mail.png" alt="" /><span class="count-msg">1</span></a>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p class="title">
    <!-- <img class="btn-nav to-right" src="assets/icon/icon-close.png" alt="" (click)="goBack()"> -->
    Customers
    <a class="btn btn-green" href="#">Add New</a>
  </p>
  <p class="description">
    Show <input type="number" name="entry" value="10"/> entries
  </p>
  <div class="holder-list" *ngIf="hasData">
    <div class="holder-accordion" *ngFor="let customer of customersList">
      <span class="dropdown">Actions <span class="fa fa-angle-down"></span></span>
      <div class="accordion-header" (click)="toggleAccordion($event)">
        {{customer.first_name}} {{customer.last_name}}
      </div>
      <div class="accordion-body">
        <span class="list-label">Role</span><span class="list-data">{{customer.permission === '1' ? 'Administrator' : customer.permission === '2' ? 'Ambassador' : 'Member'}}</span>
        <span class="list-label">Account Type</span><span class="list-data">{{customer.account_type === '1' ? 'Member' : customer.account_type === '2' ? 'Business-Essentials' : 'Premium'}}</span>
        <span class="list-label">Status</span><span class="list-data">{{customer.status === '0' ? 'Deleted' : customer.status === '1' ? 'Active' : 'Suspended'}}</span>
        <span class="list-label">Registered Date</span><span class="list-data">{{dateFormat(customer.created_at)}}</span>
        <span class="list-label">Last Login</span><span class="list-data">{{dateFormat(customer.last_login)}}</span>
      </div>
    </div>
  </div>
</ion-content>
