page-user-customers {
  .title {
    margin-bottom: 15px;

    font-family: 'Raleway Medium';
    font-size: 22px;
    color: #444;
    text-align: left;

    .btn-green {
      display: inline-block;
      padding: 10px 10px 9px !important;
      margin-left: 15px;
      width: 105px;

      text-align: center;
    }
  }

  .description {
    font-family: 'Raleway Regular';
    font-weight: 600;
    color: #444;
    text-align: left;

    input[name="entry"] {
      margin: 0 5px;
      width: 22px;

      text-align: center;
    }
  }

  .holder-accordion {
    position: relative;

    overflow: hidden;

    &.show {
      .accordion-body {
        padding: 7.5px 15px 15px;
        max-height: 155px;
      }
    }

    .dropdown {
      position: absolute;
      top: 15px;
      right: 15px;

      font-family: 'Raleway Regular';
      font-size: 13px;
      line-height: 20px;
      color: #f59120;

      .fa {
        margin-left: 3px;
      }
    }

    .accordion-header {
      padding: 15px;

      font-family: 'Raleway Regular';
      font-size: 15px;
      color: #a4c73a;

      background-color: #fafafa;
      border-radius: 2px;
    }

    .accordion-body {
      padding: 0 15px;
      margin-top: 7.5px;
      max-height: 0;

      -webkit-transition: .2s ease-in-out;
      -moz-transition: .2s ease-in-out;
      -ms-transition: .2s ease-in-out;
      -o-transition: .2s ease-in-out;
      transition: .2s ease-in-out;

      span {
        display: inline-block;
        width: 50%;
        vertical-align: top;

        &.list-label {
          color: #7a7a7a;

          & ~ .list-label {
            margin-top: 5px;
          }
        }

        &.list-data {
          font-family: 'Raleway Semibold';
          color: #444;

          & ~ .list-data {
            margin-top: 5px;
          }
        }
      }
    }
  }
}
